body {
  font-size: 16px;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.logo-and-name {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
}

.logo-and-name img {
  height: 60px;
  margin: auto 0;
  padding-right: 20px;
}

.logo-and-name h1 {
  margin: auto 0;
  font-size: 32px;
}

.logo-and-name h1 span {
  color: gray;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding-right: 24px;
}

header ul li {
  padding-left: 20px;
  font-size: 20px;
}

main {
  position: relative;
  top: 64px;
}

.landing-section {
  background: #c3c4c7;
  display: flex;
}

.landing-section img {
  padding: 32px 24px;
  width: 60%;
}

.landing-section .text {
  display: flex;
  flex-direction: column;
  margin: auto 24px;
  width: 30%;

  color: #3c434a;
}

.landing-section .text h1 {
  font-size: 50px;
  color: #3c434a;
}

.landing-section .text h2 {
  font-size: 30px;

}

.landing-section .text h3 {
  background-color: grey;
  font-size: 30x;
  text-align: center;
  padding: 8px 0;

  color: white;

}
